app/cache/**
app/config/**
app/language/**
app/logs/**
app/site/**
app/tmp/**
app/**
core/vendor/**
.vscode/**
*.sublime-*
.DS_Store
administrator/cache/**
logs/**
js_apps/**
google*.html
bans
robots.txt
auto-deployments.log
deployments.log
freeze-auto-deployments
config/
favicon.ico
.phan/**
psalm.xml
