app/cache/**
app/config/**
app/language/**
app/logs/**
app/site/**
app/tmp/**
core/vendor/**
.vscode/**
*.sublime-*
.DS_Store
administrator/cache/**
logs/**
bans
configuration.php
hubconfiguration.php
robots.txt
.idea/
