.billboard-image,
.blog-img,
.newsletter-img,
.fmn-img, .two .module-workshops .billboard-image {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.billboard-image img, .blog-img img, .newsletter-img img, .fmn-img img, .two .module-workshops .billboard-image img {
  height: 100%;
  object-fit: cover;
  transition: 3s ease-in-out;
  width: 100%;
}

.billboard-image:hover img, .blog-img:hover img, .newsletter-img:hover img, .fmn-img:hover img, .two .module-workshops .billboard-image:hover img {
  transform: scale(1.1);
}

.partner-img,
.group-img, .five .module-sites .group .group-img {
  height: 100%;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.partner-img img, .group-img img, .five .module-sites .group .group-img img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: 3s ease-in-out;
}

.partner-img:hover img, .group-img:hover img, .five .module-sites .group .group-img:hover img {
  transform: translateY(-50%) scale(1.1);
}

.community-container {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(22rem, max-content));
  justify-content: center;
}

.communities {
  margin: 2em;
  padding: 1em;
  transition: .2s ease;
  width: 22rem;
}

.communities hr {
  background: #8CC540;
  margin: 0;
  transition: .3s;
  width: 45%;
}

.communities h4 {
  transition: .2s;
}

.communities p a {
  font-family: 'open_sansregular', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: normal;
}

.communities p a::after {
  display: none;
}

.communities a {
  color: #4c4c4c;
}

.communities a:hover, .communities a:visited {
  color: #4c4c4c;
}

.communities:hover {
  border-left: 4px solid #8CC540;
}

.communities:hover hr {
  width: 65%;
}

.communities:hover h4 {
  margin-left: .25em;
}

.content-header {
  display: none;
}

.wrapper h3,
.wrapper h4,
.wrapper h5 {
  font-family: 'Martel', serif;
}

.billboard,
.resource,
.group,
.blog,
.newsletter,
.fmn {
  border: 1px solid #F1F2F2;
  position: relative;
}

.billboard .billboard-tag,
.billboard .partner-tag,
.billboard .group-tag,
.billboard .newsletter-tag,
.billboard .fmn-tag,
.resource .billboard-tag,
.resource .partner-tag,
.resource .group-tag,
.resource .newsletter-tag,
.resource .fmn-tag,
.group .billboard-tag,
.group .partner-tag,
.group .group-tag,
.group .newsletter-tag,
.group .fmn-tag,
.blog .billboard-tag,
.blog .partner-tag,
.blog .group-tag,
.blog .newsletter-tag,
.blog .fmn-tag,
.newsletter .billboard-tag,
.newsletter .partner-tag,
.newsletter .group-tag,
.newsletter .newsletter-tag,
.newsletter .fmn-tag,
.fmn .billboard-tag,
.fmn .partner-tag,
.fmn .group-tag,
.fmn .newsletter-tag,
.fmn .fmn-tag {
  background-color: #8CC540;
  bottom: 5em;
  font-family: 'open_sansregular', Helvetica Neue, Helvetica, sans-serif;
  font-size: .8em;
  font-style: normal;
  font-weight: bold;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
  bottom: 5rem;
  left: -.5em;
  position: absolute;
}

.billboard .billboard-tag a,
.billboard .partner-tag a,
.billboard .group-tag a,
.billboard .newsletter-tag a,
.billboard .fmn-tag a,
.resource .billboard-tag a,
.resource .partner-tag a,
.resource .group-tag a,
.resource .newsletter-tag a,
.resource .fmn-tag a,
.group .billboard-tag a,
.group .partner-tag a,
.group .group-tag a,
.group .newsletter-tag a,
.group .fmn-tag a,
.blog .billboard-tag a,
.blog .partner-tag a,
.blog .group-tag a,
.blog .newsletter-tag a,
.blog .fmn-tag a,
.newsletter .billboard-tag a,
.newsletter .partner-tag a,
.newsletter .group-tag a,
.newsletter .newsletter-tag a,
.newsletter .fmn-tag a,
.fmn .billboard-tag a,
.fmn .partner-tag a,
.fmn .group-tag a,
.fmn .newsletter-tag a,
.fmn .fmn-tag a {
  color: #fff;
}

.billboard .billboard-header,
.billboard .partner-title,
.billboard .group-description,
.billboard .blog-title,
.billboard .newsletter-title,
.billboard .fmn-title,
.resource .billboard-header,
.resource .partner-title,
.resource .group-description,
.resource .blog-title,
.resource .newsletter-title,
.resource .fmn-title,
.group .billboard-header,
.group .partner-title,
.group .group-description,
.group .blog-title,
.group .newsletter-title,
.group .fmn-title,
.blog .billboard-header,
.blog .partner-title,
.blog .group-description,
.blog .blog-title,
.blog .newsletter-title,
.blog .fmn-title,
.newsletter .billboard-header,
.newsletter .partner-title,
.newsletter .group-description,
.newsletter .blog-title,
.newsletter .newsletter-title,
.newsletter .fmn-title,
.fmn .billboard-header,
.fmn .partner-title,
.fmn .group-description,
.fmn .blog-title,
.fmn .newsletter-title,
.fmn .fmn-title {
  background-color: #fff;
  border: 1px solid #F1F2F2;
  font-family: 'Martel', Georgia, Times, "Times New Roman", serif;
  opacity: .85;
  width: 100%;
  bottom: 0;
  padding: 0.625em;
  position: absolute;
  width: 100%;
}

.billboard .billboard-header a,
.billboard .partner-title a,
.billboard .group-description a,
.billboard .blog-title a,
.billboard .newsletter-title a,
.billboard .fmn-title a,
.resource .billboard-header a,
.resource .partner-title a,
.resource .group-description a,
.resource .blog-title a,
.resource .newsletter-title a,
.resource .fmn-title a,
.group .billboard-header a,
.group .partner-title a,
.group .group-description a,
.group .blog-title a,
.group .newsletter-title a,
.group .fmn-title a,
.blog .billboard-header a,
.blog .partner-title a,
.blog .group-description a,
.blog .blog-title a,
.blog .newsletter-title a,
.blog .fmn-title a,
.newsletter .billboard-header a,
.newsletter .partner-title a,
.newsletter .group-description a,
.newsletter .blog-title a,
.newsletter .newsletter-title a,
.newsletter .fmn-title a,
.fmn .billboard-header a,
.fmn .partner-title a,
.fmn .group-description a,
.fmn .blog-title a,
.fmn .newsletter-title a,
.fmn .fmn-title a {
  display: block;
  /* Fallback for non-webkit */
  height: 2em;
  /* Fallback for non-webkit */
  display: -webkit-box;
  margin: 0 auto;
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #597F2F;
}

.billboard .billboard-header a:hover,
.billboard .partner-title a:hover,
.billboard .group-description a:hover,
.billboard .blog-title a:hover,
.billboard .newsletter-title a:hover,
.billboard .fmn-title a:hover,
.resource .billboard-header a:hover,
.resource .partner-title a:hover,
.resource .group-description a:hover,
.resource .blog-title a:hover,
.resource .newsletter-title a:hover,
.resource .fmn-title a:hover,
.group .billboard-header a:hover,
.group .partner-title a:hover,
.group .group-description a:hover,
.group .blog-title a:hover,
.group .newsletter-title a:hover,
.group .fmn-title a:hover,
.blog .billboard-header a:hover,
.blog .partner-title a:hover,
.blog .group-description a:hover,
.blog .blog-title a:hover,
.blog .newsletter-title a:hover,
.blog .fmn-title a:hover,
.newsletter .billboard-header a:hover,
.newsletter .partner-title a:hover,
.newsletter .group-description a:hover,
.newsletter .blog-title a:hover,
.newsletter .newsletter-title a:hover,
.newsletter .fmn-title a:hover,
.fmn .billboard-header a:hover,
.fmn .partner-title a:hover,
.fmn .group-description a:hover,
.fmn .blog-title a:hover,
.fmn .newsletter-title a:hover,
.fmn .fmn-title a:hover {
  color: #222b37;
}

.module-feature {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.module-feature .horizontal {
  flex: 1 1 20rem;
  height: 15rem;
  margin: 2.5px;
}

.module-feature .regular {
  flex: 1 1 10rem;
  height: 15rem;
  margin: 2.5px;
}

.search-wrapper {
  grid-column: col/span 4;
  grid-row: row 2;
  justify-content: center;
  padding: 2.5em;
  text-align: center;
}

.search-wrapper h5 {
  margin: 0 auto 1em;
  width: 75%;
}

#rsearch {
  width: 70%;
}

.page-body .content .search input[type='submit'] {
  background-color: #8CC540;
  color: #fff;
}

.explore {
  padding: 1em;
}

@media only screen and (min-width: 590px) {
  .explore {
    padding: 2.5em;
  }
}

.one {
  background-color: #F1F2F2;
}

.one p {
  margin: 1em 0;
}

.one .fmn-intro {
  padding: 2.5em;
  text-align: center;
}

.one .module-fmn {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(23.4375rem, max-content));
  grid-auto-rows: 8rem;
  justify-content: center;
}

.one .module-fmn .fmn {
  display: flex;
  flex-wrap: nowrap;
  margin: 1em .75em;
  position: relative;
}

@supports (display: grid) {
  .one .module-fmn .fmn {
    margin: 0;
  }
}

.one .module-fmn .fmn .fmn-img {
  border-right: 5px solid #8CC540;
  height: 100%;
  overflow: hidden;
  width: 12.5rem;
}

.one .module-fmn .fmn .fmn-img img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: 3s ease-in-out;
}

.one .module-fmn .fmn .fmn-img:hover img {
  transform: translateY(-50%) scale(1.1);
}

.one .module-fmn .fmn .fmn-img::after {
  visibility: hidden;
}

.one .module-fmn .fmn .fmn-title {
  font-family: 'Martel', serif;
  position: static;
}

.one .module-fmn .fmn .fmn-title a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 8rem;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.6;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.one .module-fmn .fmn .fmn-tag {
  background-color: #8CC540;
  bottom: 0;
  font-size: .8em;
  font-weight: bold;
  left: 0;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
}

.one .module-fmn .fmn .fmn-tag span {
  color: #fff;
}

.one .module-fmn .regular {
  height: 7rem;
  width: 23.4375rem;
}

@supports (display: grid) {
  .one .module-fmn .regular {
    height: auto;
  }
}

.one .ambassador {
  align-self: center;
  padding: 2.5em;
  text-align: center;
}

.one .ambassador .link {
  margin-top: 3em;
}

.two {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4em 0;
}

.two .workshops {
  align-self: center;
  padding: 2.5em;
  width: 100%;
}

@media only screen and (min-width: 1100px) {
  .two .workshops {
    width: 50%;
  }
}

.two .module-workshops {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  width: 100%;
}

@media only screen and (min-width: 1100px) {
  .two .module-workshops {
    width: 50%;
  }
}

.two .module-workshops .regular {
  flex: 1 1 15rem;
  height: 15rem;
  margin: 2.5px;
}

.two .module-workshops .billboard {
  position: relative;
}

.two .module-workshops .billboard .billboard-tag {
  background-color: #8CC540;
  bottom: 5em;
  font-family: 'open_sansregular', Helvetica Neue, Helvetica, sans-serif;
  font-size: .8em;
  font-style: normal;
  font-weight: bold;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
  bottom: 5rem;
  left: -.5em;
  position: absolute;
}

.two .module-workshops .billboard .billboard-tag a {
  color: #fff;
}

.two .module-workshops .billboard .billboard-header {
  background-color: #fff;
  border: 1px solid #F1F2F2;
  font-family: 'Martel', Georgia, Times, "Times New Roman", serif;
  opacity: .85;
  width: 100%;
  bottom: 0;
  padding: 10px;
  position: absolute;
}

.two .module-workshops .billboard .billboard-header a {
  display: block;
  /* Fallback for non-webkit */
  height: 2em;
  /* Fallback for non-webkit */
  display: -webkit-box;
  margin: 0 auto;
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #597F2F;
}

.two .module-workshops .billboard .billboard-header a:hover {
  color: #222b37;
}

.three {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4em;
}

.three .horizontal {
  background: url("/app/site/media/images/climate-kic-350836.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  width: 100%;
}

@media only screen and (min-width: 901px) {
  .three .horizontal {
    width: 50%;
  }
}

.three .classrooms {
  align-self: center;
  order: -1;
  padding: 2.5em;
  width: 100%;
}

@media only screen and (min-width: 901px) {
  .three .classrooms {
    order: 1;
    width: 50%;
  }
}

.four {
  background: url("/app/site/media/images/stefan-stefancik-257625.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/stefan-stefancik-257625.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222b37;
  color: #fff;
  padding: 2.5em;
  text-align: center;
}

.four h2 {
  color: #fff;
}

.four p {
  margin: 0 auto;
}

@media only screen and (min-width: 48.8125em) {
  .four p {
    width: 70%;
  }
}

.five {
  display: flex;
  flex-wrap: wrap;
  margin: 4em 0;
}

.five .sites {
  align-self: center;
  padding: 2.5em;
  width: 100%;
}

@media only screen and (min-width: 1100px) {
  .five .sites {
    width: 50%;
  }
}

.five .module-sites {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  width: 100%;
}

@media only screen and (min-width: 1100px) {
  .five .module-sites {
    width: 50%;
  }
}

.five .module-sites .regular {
  flex: 1 1 15rem;
  height: 15rem;
  margin: 2.5px;
}

.five .module-sites .group {
  position: relative;
}

.five .module-sites .group .group-tag {
  background-color: #8CC540;
  bottom: 5em;
  font-family: 'open_sansregular', Helvetica Neue, Helvetica, sans-serif;
  font-size: .8em;
  font-style: normal;
  font-weight: bold;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
}

.five .module-sites .group .group-tag a {
  color: #fff;
}

.five .module-sites .group .group-description {
  background-color: #fff;
  border: 1px solid #F1F2F2;
  font-family: 'Martel', Georgia, Times, "Times New Roman", serif;
  opacity: .85;
  width: 100%;
  bottom: 0;
  padding: 10px;
  position: absolute;
}

.five .module-sites .group .group-description a {
  display: block;
  /* Fallback for non-webkit */
  height: 2em;
  /* Fallback for non-webkit */
  display: -webkit-box;
  margin: 0 auto;
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #597F2F;
}

.five .module-sites .group .group-description a:hover {
  color: #222b37;
}

.c-six {
  display: flex;
  flex-wrap: nowrap;
  background-color: #F1F2F2;
  padding: 2.5em;
  text-align: center;
}
