@import 'variables';
@import 'mixins';

.content-header {
  display: none;
}

.wrapper {
  h3,
  h4,
  h5 {
    font-family: 'Martel', serif;
  }
}

//Showcase
.billboard-image,
.blog-img,
.newsletter-img,
.fmn-img {
  @extend %showcase-img;
}

.partner-img,
.group-img {
  @extend %showcase-group;
}

.billboard,
.resource,
.group,
.blog,
.newsletter,
.fmn {
  border: 1px solid $light-gray;
  position: relative;

  .billboard-tag,
  .partner-tag,
  .group-tag,
  .newsletter-tag,
  .fmn-tag {
    @include showcase-tag($green, $white);
    bottom: 5rem;
    left: -.5em;
    position: absolute;
  }

  .billboard-header,
  .partner-title,
  .group-description,
  .blog-title,
  .newsletter-title,
  .fmn-title {
    @include showcase-header(1em, 1, 2);
    bottom: 0;
    padding: 0.625em;
    position: absolute;
    width: 100%;
  }
}

//Feature
.module-feature {
  @include flexbox(wrap);
  padding: 1em;

  .horizontal {
    flex: 1 1 20rem;
    height: 15rem;
    margin: 2.5px;
  }

  .regular {
    flex: 1 1 10rem;
    height: 15rem;
    margin: 2.5px;
  }
}

//Search
.search-wrapper {
  @include grid(col / span 4, row 2);
  justify-content: center;
  padding: 2.5em;
  text-align: center;

  h5 {
    margin: 0 auto 1em;
    width: 75%;
  }
}

#rsearch {
  width: 70%;
}

.page-body {
  .content {
    .search {
      input[type='submit'] {
        background-color: $green;
        color: $white;
      }
    }
  }
}

//Explore
.explore {
  @include respond-at(590px) {
    padding: 2.5em;
  }
  padding: 1em;
}

.community-container {
  @extend %anchor-container;
}

.communities {
  @extend %anchor;
}

//Faculty Mentoring Network
.one {
  background-color: $light-gray;

  p {
    margin: 1em 0;
  }

  .fmn-intro {
    padding: 2.5em;
    text-align: center;
  }

  .module-fmn {
    @include flexbox(wrap);
    @include grid-template(repeat(auto-fit, minmax(23.4375rem, max-content)), null, 2em);
    grid-auto-rows: 8rem;
    justify-content: center;


    .fmn {
      @include grid-support {
        margin: 0;
      }
      @include flexbox;
      margin: 1em .75em;
      position: relative;

      .fmn-img {
        background-color: $white;
        border-right: 5px solid $green;
        height: 100%;
        overflow: hidden;
        width: 12.5rem;

        img {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          transition: 3s ease-in-out;
        }

        &:hover {
          img {
            transform: translateY(-50%) scale(1.1);
          }
        }

        &::after {
          visibility: hidden;
        }
      }

      .fmn-title {
        font-family: 'Martel', serif;
        position: static;

        a {
          @include truncate(1rem, 1.6, 5);
        }
      }

      .fmn-tag {
        background-color: $green;
        bottom: 0;
        font-size: .8em;
        font-weight: bold;
        left: 0;
        padding: .5em .8em;
        position: absolute;
        text-transform: uppercase;

        span {
          color: $white;
        }
      }
    }

    .regular {
      @include grid-support {
        height: auto;
      }
      height: 7rem;
      width: 23.4375rem;
    }
  }

  .ambassador {
    align-self: center;
    padding: 2.5em;
    text-align: center;

    .link {
      margin-top: 3em;
    }
  }
}

//Workshops and Meetings
.two {
  @include flexbox(wrap);
  justify-content: center;
  margin: 4em 0;

  .workshops {
    @include respond-at(1100px) {
      width: 50%;
    }
    align-self: center;
    padding: 2.5em;
    width: 100%;
  }

  .module-workshops {
    @include respond-at(1100px) {
      width: 50%;
    }
    @include flexbox(wrap);
    align-self: center;
    width: 100%;

    .regular {
      flex: 1 1 15rem;
      height: 15rem;
      margin: 2.5px;
    }

    .billboard-image {
      @extend %showcase-img;
    }

    .billboard {
      position: relative;

      .billboard-tag {
        @include showcase-tag($green, $white);
        bottom: 5rem;
        left: -.5em;
        position: absolute;
      }

      .billboard-header {
        @include showcase-header(1em, 1, 2);
        bottom: 0;
        padding: 10px;
        position: absolute;
      }
    }
  }
}

//Classrooms
.three {
  @include flexbox(wrap);
  margin-bottom: 4em;

  .horizontal {
    @include respond-at(901px) {
      width: 50%;
    }
    background: url('/app/site/media/images/climate-kic-350836.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    width: 100%;
  }

  .classrooms {
    @include respond-at(901px) {
      order: 1;
      width: 50%;
    }
    align-self: center;
    order: -1;
    padding: 2.5em;
    width: 100%;
  }
}

//Collaborative Publishing
.four {
  @include bcg-img('/app/site/media/images/stefan-stefancik-257625.jpg');
  background-color: $dark-blue;
  color: $white;
  padding: 2.5em;
  text-align: center;

  h2 {
    color: $white;
  }

  p {
    @include respond-at(48.8125em) {
      width: 70%;
    }
    margin: 0 auto;
  }
}

//Project Websites
.five {
  @include flexbox(wrap);
  margin: 4em 0;

  .sites {
    @include respond-at(1100px) {
      width: 50%;
    }
    align-self: center;
    padding: 2.5em;
    width: 100%;
  }

  .module-sites {
    @include respond-at(1100px) {
      width: 50%;
    }
    @include flexbox(wrap);
    align-self: center;
    width: 100%;

    .regular {
      flex: 1 1 15rem;
      height: 15rem;
      margin: 2.5px;
    }

    .group {
      position: relative;

      .group-img {
        @extend %showcase-group;
      }

      .group-tag {
        @include showcase-tag($green, $white);
      }

      .group-description {
        @include showcase-header(1em, 1, 2);
        bottom: 0;
        padding: 10px;
        position: absolute;
      }
    }
  }
}

// Private Working Groups
.c-six {
  @include flexbox;
  background-color: $light-gray;
  padding: 2.5em;
  text-align: center;
}
