.resources .module-left .resource-img, .community .module-right .billboard-image,
.community .module-right .resource-img,
.community .module-right .blog-img,
.community .module-right .newsletter-img,
.community .module-right .fmn-img {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.resources .module-left .resource-img img, .community .module-right .billboard-image img, .community .module-right .resource-img img, .community .module-right .blog-img img, .community .module-right .newsletter-img img, .community .module-right .fmn-img img {
  height: 100%;
  object-fit: cover;
  transition: 3s ease-in-out;
  width: 100%;
}

.resources .module-left .resource-img:hover img, .community .module-right .billboard-image:hover img, .community .module-right .resource-img:hover img, .community .module-right .blog-img:hover img, .community .module-right .newsletter-img:hover img, .community .module-right .fmn-img:hover img {
  transform: scale(1.1);
}

.community .module-right .partner-img,
.community .module-right .group-img {
  height: 100%;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.community .module-right .partner-img img, .community .module-right .group-img img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: 3s ease-in-out;
}

.community .module-right .partner-img:hover img, .community .module-right .group-img:hover img {
  transform: translateY(-50%) scale(1.1);
}

.community .module-right .partner-img::after,
.community .module-right .group-img::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, black 100%);
  height: 100%;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr);
  grid-template-rows: repeat(4, [row] minmax(30rem, auto));
}

.wrapper h1 {
  font-family: 'montserratultra_light', Helvetica Neue, Helvetica, sans-serif;
}

.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5 {
  color: #222b37;
}

.wrapper h3,
.wrapper h4,
.wrapper h5 {
  font-family: 'Martel', serif;
}

.intro-container {
  display: flex;
  flex-wrap: wrap;
  grid-column: col/span 4;
  grid-row: row;
}

@media only screen and (min-width: 56.3125em) {
  .intro-container {
    display: flex;
    flex-wrap: nowrap;
  }
}

.intro-container .link {
  margin-top: 1em;
}

.intro {
  background: url("/app/site/media/images/pexels-photo-355988.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/pexels-photo-355988.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  color: #fff;
  color: #fff;
  flex-direction: column;
  width: 100%;
}

.intro h2,
.intro h4 {
  color: #fff;
}

.intro h5 {
  text-align: center;
}

@media only screen and (min-width: 56.3125em) {
  .intro {
    width: 50%;
  }
}

.tagline-wrap {
  padding: 2.5em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.tagline-wrap h4 {
  margin-top: 2em;
}

.green {
  color: #8CC540;
}

.anchor-link-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 2em;
}

.anchor-link a {
  color: #fff;
}

.anchor-link a::before {
  background-color: #fff;
}

.anchor-link a::after {
  background-color: #fff;
}

.anchor-link a:hover {
  color: #fff;
}

.anchor-link a:hover::before {
  background-color: #fff;
}

.latest-tweet {
  margin: 2em;
  width: 100%;
}

@media only screen and (min-width: 56.3125em) {
  .latest-tweet {
    width: 20%;
  }
}

.latest-tweet h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.latest-tweet h2 span {
  font-size: 1.2rem;
  text-transform: lowercase;
}

.latest-tweet svg {
  fill: #222b37;
  float: left;
  margin-right: .5em;
  width: 1.2rem;
}

.feature {
  margin: 2em;
  position: relative;
  width: 100%;
}

.feature h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 56.3125em) {
  .feature {
    width: 25%;
  }
}

.feature .module-feature {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 1em;
}

.feature .billboard-image,
.feature .blog-img,
.feature .newsletter-img,
.feature .fmn-img {
  background-color: #fff;
  border-right: 3px solid #8CC540;
  height: 5rem;
  overflow: hidden;
  transition: 3s ease-in-out;
  width: 5rem;
}

.feature .billboard-image img,
.feature .blog-img img,
.feature .newsletter-img img,
.feature .fmn-img img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: 3s ease-in-out;
}

.feature .billboard-image:hover img,
.feature .blog-img:hover img,
.feature .newsletter-img:hover img,
.feature .fmn-img:hover img {
  transform: translateY(-50%) scale(1.1);
}

.feature .billboard,
.feature .blog,
.feature .newsletter,
.feature .fmn {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.feature .billboard-tag,
.feature .fmn-tag {
  background-color: #8CC540;
  bottom: 5em;
  font-family: 'open_sansregular', Helvetica Neue, Helvetica, sans-serif;
  font-size: .8em;
  font-style: normal;
  font-weight: bold;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
  bottom: 15%;
  font-size: .7em;
  left: -.5em;
}

.feature .billboard-tag a,
.feature .fmn-tag a {
  color: #fff;
}

.feature .billboard-header,
.feature .blog-title,
.feature .newsletter-title,
.feature .fmn-title {
  background-color: #fff;
  border: 1px solid #F1F2F2;
  opacity: .85;
  border: none;
  margin-left: .5em;
}

.feature .billboard-header a,
.feature .blog-title a,
.feature .newsletter-title a,
.feature .fmn-title a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 4.8em;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.2;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #597F2F;
}

.feature .billboard-header a:hover,
.feature .blog-title a:hover,
.feature .newsletter-title a:hover,
.feature .fmn-title a:hover {
  color: #222b37;
}

.feature .regular {
  margin: .25em;
}

.button {
  margin-top: 1em;
}

.link::after {
  background: #c1c1c1;
  content: '';
  display: block;
  height: 1px;
  margin-right: .2em;
  position: absolute;
  right: 100%;
  width: 1rem;
  top: 50%;
}

.one {
  grid-column: col/span 4;
  grid-row: row 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  background-color: #F1F2F2;
}

@media only screen and (min-width: 56.3125em) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(23rem, auto));
}

.resources {
  display: flex;
  flex-wrap: wrap;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  flex: 1;
}

@media only screen and (min-width: 56.3125em) {
  .resources {
    grid-column: 1/span 4;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

.resources .oer {
  grid-column: 1fr;
  grid-row: 1;
  align-self: center;
  order: -1;
  padding: 2.5em;
  width: 100%;
}

.resources .oer .link {
  margin-top: 2em;
}

@media only screen and (min-width: 56.3125em) {
  .resources .oer {
    grid-column: 3/span 2;
    order: 0;
    width: 50%;
  }
}

@supports (display: grid) {
  .resources .oer {
    width: auto;
  }
}

.resources .module-left {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 15rem;
  padding: 2.5em;
  width: 100%;
}

@media only screen and (min-width: 56.3125em) {
  .resources .module-left {
    grid-column: 1/span 2;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 15rem);
    width: 50%;
  }
}

@media only screen and (min-width: 75.0625em) {
  .resources .module-left {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: auto;
  }
}

.resources .module-left .resource {
  flex: 1 1 15rem;
  height: 15rem;
  margin: 5px;
  position: relative;
}

@supports (display: grid) {
  .resources .module-left .resource {
    margin: 0;
  }
}

.resources .module-left .resource-tag {
  background-color: #8CC540;
  bottom: 5em;
  font-family: 'open_sansregular', Helvetica Neue, Helvetica, sans-serif;
  font-size: .8em;
  font-style: normal;
  font-weight: bold;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
  bottom: 5rem;
  left: -.5em;
  position: absolute;
}

.resources .module-left .resource-tag a {
  color: #fff;
}

.resources .module-left .resource-title {
  background-color: #fff;
  border: 1px solid #F1F2F2;
  opacity: .85;
  bottom: 0;
  padding: 0.625em;
  position: absolute;
  width: 100%;
}

.resources .module-left .resource-title a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2em;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1em;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #597F2F;
}

.resources .module-left .resource-title a:hover {
  color: #222b37;
}

@supports (display: grid) {
  .resources .module-left {
    width: auto;
  }
}

.software {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1fr;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  flex: 1;
}

@media only screen and (min-width: 56.3125em) {
  .software {
    grid-column: 1/span 4;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.software .left, .software .network .right, .network .software .right {
  padding: 2.5em;
  width: 100%;
}

.software .left .link, .software .network .right .link, .network .software .right .link {
  margin-top: 2em;
}

@media only screen and (min-width: 56.3125em) {
  .software .left, .software .network .right, .network .software .right {
    width: 50%;
  }
}

@supports (display: grid) {
  .software .left, .software .network .right, .network .software .right {
    width: auto;
  }
}

.software .software-logos {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-self: center;
  grid-auto-rows: 125px;
  justify-items: center;
  padding: 2.5em;
  text-align: center;
  width: 100%;
}

.software .software-logos .logo-wrap {
  height: 8rem;
  transition: .3s ease-in-out;
  width: 9rem;
}

@supports (display: grid) {
  .software .software-logos .logo-wrap {
    height: auto;
    width: auto;
  }
}

.software .software-logos .logo-wrap img {
  height: 65%;
  object-fit: scale-down;
  width: 6.25em;
}

.software .software-logos .logo-wrap a::before {
  background-color: transparent;
}

.software .software-logos .logo-wrap:hover {
  transform: scale(1.1);
}

.software .software-logos .logo-wrap:hover a {
  color: #222b37;
}

.software .software-logos h6 {
  align-self: center;
  margin: 0;
  padding-top: .5em;
}

@media only screen and (min-width: 56.3125em) {
  .software .software-logos {
    width: 50%;
  }
}

@supports (display: grid) {
  .software .software-logos {
    width: auto;
  }
}

.sub-title {
  margin-left: 30px;
}

.two {
  grid-column: col/span 4;
  grid-row: row 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}

.network {
  display: flex;
  flex-wrap: wrap;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}

@media only screen and (min-width: 56.3125em) {
  .network {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 23rem;
  }
}

.network .network-logos {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  justify-items: center;
  padding: 2.5em;
}

.network .network-logos .logo {
  align-self: center;
  background-color: transparent !important;
  border: none !important;
  width: 4.6rem !important;
}

.network .left, .network .right {
  padding: 2.5em;
  width: 100%;
}

@media only screen and (min-width: 56.3125em) {
  .network .left, .network .right {
    grid-column: 1/span 1;
    width: 50%;
  }
}

@supports (display: grid) {
  .network .left, .network .right {
    width: auto;
  }
}

.network .right {
  grid-column: 1fr;
  grid-row: 1;
  order: -1;
  width: 100%;
}

@media only screen and (min-width: 56.3125em) {
  .network .right {
    grid-column: 2/span 1;
    order: 0;
    width: 50%;
  }
}

@supports (display: grid) {
  .network .right {
    width: auto;
  }
}

.network .link {
  margin-top: 2em;
}

.community {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  padding: 0 2.5em;
}

@media only screen and (min-width: 56.3125em) {
  .community {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

.community .left, .community .network .right, .network .community .right {
  padding-right: 2.5em;
  width: 100%;
}

@media only screen and (min-width: 37.625em) {
  .community .left, .community .network .right, .network .community .right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

@media only screen and (min-width: 56.3125em) {
  .community .left, .community .network .right, .network .community .right {
    width: 50%;
  }
}

.community .left .title, .community .network .right .title, .network .community .right .title {
  grid-row: 1;
}

@media only screen and (min-width: 37.625em) {
  .community .left .title, .community .network .right .title, .network .community .right .title {
    grid-column: span 2;
  }
}

.community .left ul, .community .network .right ul, .network .community .right ul {
  grid-row: 2;
  list-style: none;
}

@media only screen and (min-width: 37.625em) {
  .community .left ul, .community .network .right ul, .network .community .right ul {
    grid-column: span 1;
  }
}

.community .left .button, .community .network .right .button, .network .community .right .button {
  grid-row: 3;
  align-self: center;
  margin: 1em 0;
  text-align: center;
}

@media only screen and (min-width: 37.625em) {
  .community .left .button, .community .network .right .button, .network .community .right .button {
    grid-row: 2;
  }
}

@supports (display: grid) {
  .community .left, .community .network .right, .network .community .right {
    width: auto;
  }
}

.community .right {
  border: 1px solid #8CC540;
  border-radius: 6px;
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 56.3125em) {
  .community .right {
    width: 50%;
  }
}

@supports (display: grid) {
  .community .right {
    width: auto;
  }
}

.community .right h2 {
  color: #8CC540;
  position: absolute;
  top: -.95em;
}

.community .module-right {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 15rem);
  padding: 1em;
}

@media only screen and (min-width: 62.5625em) {
  .community .module-right {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: nykk;
    grid-template-rows: repeat(2, 15rem);
  }
}

.community .module-right .horizontal {
  grid-column: span 4;
  flex: 1 1 30rem;
  height: 15rem;
  position: relative;
}

@media only screen and (min-width: 56.3125em) {
  .community .module-right .horizontal {
    grid-column: span 4;
    flex: 1 1 24rem;
    height: 12rem;
  }
}

@media only screen and (min-width: 62.5625em) {
  .community .module-right .horizontal {
    grid-column: span 2;
  }
}

@supports (display: grid) {
  .community .module-right .horizontal {
    height: auto;
    width: auto;
  }
}

.community .module-right .regular {
  grid-column: span 2;
  flex: 1 1 15rem;
  height: 15rem;
}

@media only screen and (min-width: 56.3125em) {
  .community .module-right .regular {
    grid-column: span 2;
    flex: 1 1 12rem;
    height: 12rem;
  }
}

@media only screen and (min-width: 62.5625em) {
  .community .module-right .regular {
    grid-column: span 1;
  }
}

@supports (display: grid) {
  .community .module-right .regular {
    height: auto;
    width: auto;
  }
}

.community .module-right .billboard,
.community .module-right .resource,
.community .module-right .group,
.community .module-right .blog,
.community .module-right .newsletter,
.community .module-right .fmn {
  position: relative;
}

.community .module-right .billboard-tag,
.community .module-right .resource-tag,
.community .module-right .partner-tag,
.community .module-right .group-tag,
.community .module-right .fmn-tag {
  background-color: #8CC540;
  bottom: 5em;
  font-family: 'open_sansregular', Helvetica Neue, Helvetica, sans-serif;
  font-size: .8em;
  font-style: normal;
  font-weight: bold;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
  bottom: 5rem;
  left: -.5em;
  position: absolute;
}

.community .module-right .billboard-tag a,
.community .module-right .resource-tag a,
.community .module-right .partner-tag a,
.community .module-right .group-tag a,
.community .module-right .fmn-tag a {
  color: #fff;
}

.community .module-right .billboard-header,
.community .module-right .resource-title,
.community .module-right .partner-title,
.community .module-right .group-description,
.community .module-right .blog-title,
.community .module-right .newsletter-title,
.community .module-right .fmn-title {
  background-color: #fff;
  border: 1px solid #F1F2F2;
  opacity: .85;
  bottom: 0;
  padding: 0.625em;
  position: absolute;
}

.community .module-right .billboard-header a,
.community .module-right .resource-title a,
.community .module-right .partner-title a,
.community .module-right .group-description a,
.community .module-right .blog-title a,
.community .module-right .newsletter-title a,
.community .module-right .fmn-title a {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 2em;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 1em;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #597F2F;
}

.community .module-right .billboard-header a:hover,
.community .module-right .resource-title a:hover,
.community .module-right .partner-title a:hover,
.community .module-right .group-description a:hover,
.community .module-right .blog-title a:hover,
.community .module-right .newsletter-title a:hover,
.community .module-right .fmn-title a:hover {
  color: #222b37;
}

.community .module-right .fmn-tag span {
  color: #fff;
}

@supports (display: grid) {
  .community .module-right {
    width: auto;
  }
}

.three {
  display: flex;
  flex-wrap: wrap;
  grid-column: col/span 4;
  grid-row: row 4;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr;
  grid-template-rows: repeat(5, auto);
  flex: 1;
  justify-content: space-between;
  justify-self: center;
  padding: 2.5em;
}

@media only screen and (min-width: 56.3125em) {
  .three {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

.three h4 {
  font-family: 'montserratultra_light', 'Montserrat', Helvetica Neue, Helvetica, sans-serif;
}

.three .title {
  grid-column: span 4;
  text-align: center;
  width: 100%;
}

.three .service {
  grid-column: 1/span 2;
  margin: 5px 0;
  padding: 1.5em 1em 2.5em;
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 56.3125em) {
  .three .service {
    grid-column: span 2;
    width: 47%;
    margin: 5px;
  }
}

@media only screen and (min-width: 75.0625em) {
  .three .service {
    grid-column: span 1;
    width: 21%;
  }
}

.three .service h4 {
  height: 3.7rem;
  margin-bottom: 0;
}

.three .service hr {
  background-color: #8CC540;
  margin: 0;
  width: 40%;
}

.three .service .button {
  bottom: .5rem;
  margin-left: 1em;
  position: absolute;
}

@supports (display: grid) {
  .three .service {
    margin: 0;
    width: auto;
  }
}
