.oer {
  margin: 2em;
  padding: 1em;
  transition: .2s ease;
  width: 22rem;
}

.oer hr {
  background: #8CC540;
  margin: 0;
  transition: .3s;
  width: 45%;
}

.oer h4 {
  transition: .2s;
}

.oer h4 a {
  font-weight: normal;
}

.oer h4 a::before {
  display: none;
}

.oer p a {
  font-family: 'open_sansregular', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: normal;
}

.oer p a::before {
  display: none;
}

.oer a {
  color: #4c4c4c;
}

.oer a:hover, .oer a:visited {
  color: #4c4c4c;
}

.oer:hover {
  border-left: 4px solid #8CC540;
}

.oer:hover hr {
  width: 65%;
}

.oer:hover h4 {
  margin-left: .25em;
}

.link-anchor {
  color: inherit;
}

.link-anchor:hover {
  color: inherit;
}

.link-anchor:visited {
  color: inherit;
}

.wrapper h3,
.wrapper h4 {
  font-family: 'Martel', serif;
}

.wrapper p {
  font-size: 1rem;
}

.oer-header {
  display: flex;
  flex-wrap: nowrap;
  background: url("/app/site/media/images/pexels-photo-590493.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/pexels-photo-590493.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  color: #fff;
  height: 25rem;
  text-align: center;
  visibility: hidden;
}

.oer-header .intro {
  align-self: center;
  margin: 0 auto;
  padding: 2.5em;
}

.oer-header .intro a {
  color: #fff;
}

.oer-header .intro a::after {
  background-color: #fff;
}

.oer-header h2 {
  color: #fff;
  visibility: hidden;
}

.oer-header p {
  margin: 2em auto;
  max-width: 65%;
  visibility: hidden;
}

.learn {
  grid-column: col/span 4;
  grid-row: row 2;
  padding: 2.5em;
}

.oer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.oer {
  visibility: hidden;
}

.oer a::after {
  display: none;
}

#one {
  background-color: #F1F2F2;
  padding: 0 2em;
}

#one .sharing {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  width: 100%;
}

@media only screen and (min-width: 981px) {
  #one .sharing {
    display: flex;
    flex-wrap: nowrap;
  }
}

#one .sharing img {
  height: 30rem;
}

#one .sharing ul {
  list-style-type: none;
  text-align: left;
}

#one .sharing-wrap {
  align-self: center;
  margin-bottom: 2em;
  text-align: center;
}

@media only screen and (min-width: 981px) {
  #one .sharing-wrap {
    margin-bottom: 0;
    margin-right: 2em;
  }
}

#one .sharing-wrap h3,
#one .sharing-wrap p,
#one .sharing-wrap ul {
  text-align: left;
}

#one .sharing-wrap ul {
  margin-bottom: 2em;
}

#one .img-wrap {
  height: 100%;
  width: 100%;
}

#one .img-wrap img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#two {
  padding: 2.5em;
  text-align: center;
}

.projects-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

@media only screen and (min-width: 781px) {
  .projects-wrap {
    display: flex;
    flex-wrap: nowrap;
  }
}

.project {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
}

.project h6 {
  font-family: 'Martel', serif;
  margin-top: .5em;
  text-align: left;
}

#three {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 981px) {
  #three {
    display: flex;
    flex-wrap: nowrap;
  }
}

#three .culture {
  align-self: center;
  padding: 2.5em;
}

#three .img-wrap {
  width: 100%;
  height: 100%;
}
