.resource-img, .newsletter-img {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.resource-img img, .newsletter-img img {
  height: 100%;
  object-fit: cover;
  transition: 3s ease-in-out;
  width: 100%;
}

.resource-img:hover img, .newsletter-img:hover img {
  transform: scale(1.1);
}

.resources {
  margin: 2em;
  padding: 1em;
  transition: .2s ease;
  width: 22rem;
}

.resources hr {
  background: #8CC540;
  margin: 0;
  transition: .3s;
  width: 45%;
}

.resources h4 {
  transition: .2s;
}

.resources p a {
  font-family: 'open_sansregular', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: normal;
}

.resources p a::after {
  display: none;
}

.resources a {
  color: #4c4c4c;
}

.resources a:hover, .resources a:visited {
  color: #4c4c4c;
}

.resources:hover {
  border-left: 4px solid #8CC540;
}

.resources:hover hr {
  width: 65%;
}

.resources:hover h4 {
  margin-left: .25em;
}

.link {
  text-transform: capitalize;
}

.feature .module-feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resource, .newsletter {
  border: 1px solid #F1F2F2;
  flex: 1 1 10rem;
  height: 15rem;
  margin: 2.5px;
  position: relative;
}

.resource .resource-tag, .newsletter .resource-tag {
  background-color: #8CC540;
  bottom: 5em;
  font-family: 'open_sansregular', Helvetica Neue, Helvetica, sans-serif;
  font-size: .8em;
  font-style: normal;
  font-weight: bold;
  padding: .5em .8em;
  position: absolute;
  text-transform: uppercase;
}

.resource .resource-tag a, .newsletter .resource-tag a {
  color: #fff;
}

.resource .resource-title, .newsletter .resource-title, .newsletter .newsletter-title {
  background-color: #fff;
  border: 1px solid #F1F2F2;
  font-family: 'Martel', Georgia, Times, "Times New Roman", serif;
  width: 100%;
  bottom: 0;
  padding: 0.625em;
  position: absolute;
  width: 100%;
}

.resource .resource-title a, .newsletter .resource-title a, .newsletter .newsletter-title a {
  display: block;
  /* Fallback for non-webkit */
  height: 2em;
  /* Fallback for non-webkit */
  display: -webkit-box;
  margin: 0 auto;
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #597F2F;
}

.resource .resource-title a:hover, .newsletter .resource-title a:hover, .newsletter .newsletter-title a:hover {
  color: #222b37;
}

.discover {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.discover h2 {
  width: 100%;
}

.discover-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resources {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resources .link {
  text-align: center;
}

.resources .link a {
  color: #597F2F;
}

.one {
  background-color: #F1F2F2;
}

.resource-oer {
  display: flex;
  flex-wrap: nowrap;
}

.resource-oer .oer {
  align-self: center;
  margin: 1em auto;
  padding: 2.5em;
  text-align: center;
  width: 60%;
}

.resource-fmn, .resource-partner {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.resource-fmn .module-fmn, .resource-partner .module-fmn, .resource-partner .module-partner {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  padding: 1em;
  width: 100%;
}

@media only screen and (min-width: 901px) {
  .resource-fmn .module-fmn, .resource-partner .module-fmn, .resource-partner .module-partner {
    width: 50%;
  }
}

.resource-fmn .fmn, .resource-partner .fmn, .resource-partner .partner {
  align-self: center;
  order: -1;
  padding: 2.5em;
  width: 100%;
}

@media only screen and (min-width: 901px) {
  .resource-fmn .fmn, .resource-partner .fmn, .resource-partner .partner {
    order: 1;
    width: 50%;
  }
}

@media only screen and (min-width: 901px) {
  .resource-fmn, .resource-partner {
    grid-row: 1fr;
  }
}

@supports (display: grid) {
  .resource-fmn, .resource-partner {
    width: auto;
  }
}

@media only screen and (min-width: 901px) {
  .resource-partner .partner {
    order: -1;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2.5em;
}

@media only screen and (min-width: 901px) {
  .row {
    display: flex;
    flex-wrap: nowrap;
  }
}

.row-wrap {
  align-self: center;
  order: -1;
  padding: 2.5em;
  width: 100%;
}

@media only screen and (min-width: 901px) {
  .row-wrap {
    order: 1;
    width: 50%;
  }
}

.module-recent {
  width: 100%;
}

@media only screen and (min-width: 901px) {
  .module-recent {
    width: 50%;
  }
}

.module-recent .regular {
  height: 18rem;
}

.newsletter {
  margin: 0 auto;
  width: 50%;
}

.browse {
  margin: 0 auto;
  padding: 2.5em;
  text-align: center;
}

.browse a {
  margin: 0 2em;
}

.two {
  display: flex;
  flex-wrap: wrap;
}

.two .big {
  width: 100%;
}

@media only screen and (min-width: 901px) {
  .two .big {
    width: 50%;
  }
}

.two .big img {
  display: block;
  margin: 0 auto;
  width: 30rem;
}

.two .collections {
  align-self: center;
  order: -1;
  padding: 2.5em;
  width: 100%;
}

@media only screen and (min-width: 901px) {
  .two .collections {
    order: 1;
    width: 50%;
  }
}

.three {
  display: flex;
  flex-wrap: wrap;
  background-color: #F1F2F2;
}

.three .software {
  align-self: center;
  padding: 2.5em;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 901px) {
  .three .software {
    width: 50%;
  }
}

.three .software-logos {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-self: center;
  grid-auto-rows: 125px;
  justify-content: center;
  justify-items: center;
  padding: 2.5em;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 901px) {
  .three .software-logos {
    width: 50%;
  }
}

.three .software-logos .logo-wrap {
  height: 8rem;
  padding: 5px;
  transition: .3s ease-in-out;
  width: 8rem;
}

@supports (display: grid) {
  .three .software-logos .logo-wrap {
    height: auto;
    width: auto;
  }
}

.three .software-logos .logo-wrap img {
  height: 65%;
  object-fit: scale-down;
}

.three .software-logos .logo-wrap h6 {
  align-self: center;
  margin: 0;
  padding-top: .5em;
}

.three .software-logos .logo-wrap h6 a::after {
  display: none;
}

.three .software-logos .logo-wrap:hover {
  transform: scale(1.1);
}

.three .software-logos .logo-wrap:hover a {
  color: #222b37;
}
