.service {
  margin: 2em;
  padding: 1em;
  transition: .2s ease;
  width: 22rem;
}

.service hr {
  background: #8CC540;
  margin: 0;
  transition: .3s;
  width: 45%;
}

.service h4 {
  transition: .2s;
}

.service p a {
  font-family: 'open_sansregular', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: normal;
}

.service p a::after {
  display: none;
}

.service a {
  color: #4c4c4c;
}

.service a:hover, .service a:visited {
  color: #4c4c4c;
}

.service:hover {
  border-left: 4px solid #8CC540;
}

.service:hover hr {
  width: 65%;
}

.service:hover h4 {
  margin-left: .25em;
}

.content-header {
  display: none;
}

.service-header {
  display: flex;
  flex-wrap: nowrap;
  background: url("/app/site/media/images/jeff-sheldon-3231.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("/app/site/media/images/jeff-sheldon-3231.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.service-header .intro {
  align-self: center;
  margin: 0 auto;
  padding: 2.5em;
  width: 75%;
}

.service-header .intro a {
  color: #fff;
}

.service-header .intro a::after {
  background-color: #fff;
}

.service-header h2 {
  color: #fff;
}

.learn {
  padding: 2.5em;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.one {
  display: flex;
  flex-wrap: nowrap;
}

.one .community {
  background-color: #F1F2F2;
  padding: 2.5em;
  text-align: center;
  width: 100%;
}

.two, .three, .four {
  display: flex;
  flex-wrap: wrap;
}

.two .mentor, .three .mentor, .four .mentor, .three .workshop, .four .curate {
  align-self: center;
  padding: 2.5em;
  width: 100%;
}

@media only screen and (min-width: 901px) {
  .two .mentor, .three .mentor, .four .mentor, .three .workshop, .four .curate {
    width: 50%;
  }
}

.two .big, .three .big, .four .big {
  background: url("/app/site/media/images/workplace-1245776_1920.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  width: 100%;
}

@media only screen and (min-width: 901px) {
  .two .big, .three .big, .four .big {
    width: 50%;
  }
}

.three .workshop {
  order: -1;
}

@media only screen and (min-width: 901px) {
  .three .workshop {
    order: 1;
  }
}

.three .big {
  background: url("/app/site/media/images/javier-quesada-222120.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
}

.four .big {
  background: url("/app/site/media/images/pexels-photo-392018.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.four .curate {
  order: -1;
}

.five {
  display: flex;
  flex-wrap: nowrap;
  background-color: #F1F2F2;
  padding: 2.5em;
}

.five .contact-qubes {
  align-self: center;
  margin: 0 auto;
  text-align: center;
}
